/* 
    Created on : 07.01.2017, 17:54:05
    Author     : gulkin-nos
*/
a.currentPage{
    color: #d43f3a;
}
li.menuItem{
    padding: 0 1rem;
}
li.menuItem.horizontal{
    display:inline;
}
h1{ 
    padding-left: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    min-height: 3rem;
}
.info-block{
    padding-top: 2rem;
    padding-left: 15%;
}
body{
    background-color: rgba(231, 231, 231, 0.24);
}